<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoeki.kalpnay.frdinventry">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/frd_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/frd_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".banchInventoryReceiving.InventoryControlDetail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".banchInventoryReceiving.CompletedReceiving"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".banchInventoryReceiving.BranchInventoryReceivingDashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QRDetails.QrDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QRDetailsQuantityUpdate.QrDetailQuantityUpdate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InventoryShipperPicker.RequisitionControlDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dashboard.dashboardNew"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MRN.MRN_Dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InventoryShipperPicker.dashboardInventoryShipperPicker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InventoryShipperPicker.InventoryPending"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MRN.MaterialReceivingDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InventoryShipperPicker.InventoryCompleted"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dashboardInventoryRequisition"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InventoryCounting.InventoryCountingScan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScannigQR"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InventoryCounting.inventory_Counting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InventoryCounting.INVCountingTempDetail"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>